.widgets{
    position: sticky;
    top: 80px;
    flex:0.2;
    background-color:#fff;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px;
}
.widgets__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding :10px;
}
.widgets__header > h2 {
    font-size: 16px;
    font-weight: 400;
}
.widget__article {
    margin-left: 6px;

    display: flex;
    padding: 10px;
    cursor: pointer;
}
.widget__article:hover {
    background-color : whitesmoke;


}
.widgets__articleLeft {
    color: indigo;
    margin-right:5px
}
.widgets__articleLeft > .MuiSvgIcon-root {
    font-size: 15px;
}